.work_filters {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 0.6rem;
  margin-bottom: 2.5rem;
  scrollbar-width: thin;
  max-width: max-content;
}

.work_item {
  flex-shrink: 0;
  white-space: nowrap;
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
  background-color: #2563eb;
  border-radius: 20px;
  padding: 6px 16px;
  color: white;
  display: inline-block;
  text-align: center;
}

.work_item:hover {
  background-color: #1e40af;
  color: #e0f2fe;
}

.active_tab {
  background-color: #1e40af;
  /* contoh biru gelap */
  color: #e0f2fe;
}

.work_container {
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.work_card {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  box-shadow: var(--shadow);
}

.work_mask {
  background-color: #6c6ce5;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
}

.work_card:hover .work_mask {
  opacity: 0.9;
}

.work_category {
  color: #fff;
  background-color: var(--first-color);
  border-bottom-left-radius: 0.98rem;
  border-bottom-right-radius: 0.98rem;
  position: absolute;
  top: 0;
  left: 1.5rem;
  font-size: var(--small-font-size);
  display: inline-block;
  padding: 0.19rem 0.625rem;
  transform: translateY(-40px);
  transition: 0.3s;
}

.work_title {
  color: #fdfdfd;
  font-size: larger;
  margin: 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 37%;
  left: 0.5rem;
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
}

.work_thumbnail {
  width: 100%;
  height: 160px;
  overflow: hidden;
  position: relative;
}

.work_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.work_button {
  color: #fcfcfc;
  position: absolute;
  bottom: 1.2rem;
  left: 1.65rem;
  font-weight: 500;
  font-size: small;
  display: block;
  background-color: #ffd15c;
  padding: 4px 12px;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s;
  opacity: 0;
}

.work_card:hover .work_button {
  opacity: 1;
}

.work_card:hover .work_title,
.work_card:hover .work_category {
  opacity: 1;
  transform: translateY(0);
}

.pagination_button {
  margin: 0 5px;
  padding: 6px 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
}

.pagination_button.active {
  background-color: #333;
  color: #fff;
}

.pagination_button:hover {
  background-color: #ddd;
}

/* @media screen and (max-width: 1024px) {
  .work_filters {
    justify-content: center;
  }

  .work_container {
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    row-gap: 1.875rem;
  }
} */

@media screen and (max-width: 1024px) {
  .work_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
  }

  .work_item {
    font-size: small;
    font-weight: 600;
  }

  .work_filters {
    gap: 0.6rem;
  }

  .work_card {
    border-radius: 14px;
  }
}

@media screen and (max-width: 768px) {
  .work_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.9rem;
  }

  .work_thumbnail {
    height: 23vh;
  }

  .work_item {
    font-size: small;
    font-weight: 500;
  }

  .work_filters {
    gap: 0.4rem;
  }

  .work_card {
    border-radius: 18px;
  }

  .work_category {
    font-size: small;
    padding: 0.19rem 0.625rem;
  }

  .work_title {
    top: 37%;
    left: 1.1rem;
    font-size: large;
    padding: 0 0.625rem 0;
  }
}