.ability_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;
}

.ability_card {
  flex-grow: 1;
  flex-basis: 250px;
  max-width: 340px;
  text-align: center;
  padding: 1.875rem;
  border-radius: var(--border-radius);
  background-color: var(--container-color);
  transition: all 0.3s ease-in-out;
}

.ability_card:nth-child(1) {
  background-color: rgb(108, 108, 229);
  box-shadow: 0px 5px 20px 0px rgb(108, 108, 229 / 50%);
}

.ability_card:nth-child(2) {
  background-color: rgb(249, 215, 76);
  box-shadow: 0px 5px 20px 0px rgb(249, 215, 76 / 50%);
}

.ability_card:nth-child(3) {
  background-color: rgb(249, 123, 139);
  box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
}

.ability_img {
  margin-bottom: 1.25rem;
}

.ability_title {
  font-size: larger;
  margin-bottom: 1rem;
  color: #fff;
}

.ability_description {
  font-size: medium;
  color: #f8f9fa;
  margin-bottom: 1.25rem;
}

.ability_card:nth-child(2) .ability_title {
  color: var(--title-color);
}

.ability_card:nth-child(2) .ability_description {
  color: var(--title-color);
}

@media screen and (max-width: 1024px) {
  .ability_container {
    flex-direction: column;
    row-gap: 1.25rem;
    align-items: center;
  }

  .ability_card {
    max-width: calc(100% - 12rem);
  }

  .ability_img {
    width: 280px;
    height: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .ability_card {
    max-width: calc(100% - 8rem);
  }

  .ability_img {
    width: 220px;
    height: auto;
    margin-bottom: 14px;
  }
}