.sidebar {
  width: calc(100vw/12);
}

.content{
  width: 100%;
}

/* @media screen and (max-width: 1024px) {
  .main {
    margin-left: 0;
  }
} */

@media screen and (max-width: 512px) {
  .sidebar {
    width: 0;
  }
  .content{
    width: max-content;
  }
}

/* @media screen and (max-width: 640px) {
  .main {
    margin-left: 0;
    padding: 0;
  }
  
} */
