.sidebar {
  width: calc(100vw / 12);
}

.content{
  width: calc(100vw * 11 / 12);
}

/* @media screen and (max-width: 1024px) {
  .main {
    margin-left: 0;
  }
} */

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 0;
  }
  .content{
    width: 100vw;
  }
}

/* @media screen and (max-width: 640px) {
  .main {
    margin-left: 0;
    padding: 0;
  }
  
} */
